/*///EJERCICIO 1 ///*/

/*h1 {
  font-size: 22px; 
  font-family: "Roboto", sans-serif;
}*/

/*/// EJERCICIO 6////*/

/*#barra{
  background-color: #57BA57;
  width: 0%;
  height: 30px;
  border-radius: 10px;
}

#contenedor{
  height: 30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
*/
 /*///EJERCICIO 7 ///*/
/*body {
  font-family: Poppins}

span{
  margin-right: 15px;
background-color:#D3D3D3 }*/







